<section class="reseaux_sociaux">
	<h2>Réseaux sociaux</h2>
	<?php
		echo $this->Html->link('', $Parametres['Parametre']['lien_facebook'], array('class' => 'lien_facebook'));
		echo $this->Html->link('', $Parametres['Parametre']['lien_google'], array('class' => 'lien_google'));
		echo $this->Html->link('', $Parametres['Parametre']['lien_twitter'], array('class' => 'lien_twitter'));
		echo $this->Html->link('', $Parametres['Parametre']['lien_youtube'], array('class' => 'lien_youtube'));
	?>
</section>