<form ng-submit="submit()" autocomplete="off" ng-controller="AgendaEditionCtrl" name="Form" class="wh-cms calendar-app">

<div ng-bind-html="log"></div>

<ol class="breadcrumb mt0">
    <li>> <a href="#/app/agenda/index/{{data.Agenda.id}}">{{data.Agenda.name}}</a></li>
    <li><span>{{data.Even.h1}}</span></li>
</ol>


<div class="row">

    <div class="col-md-2">

        <h3 class="page-header mt0 mb0"><span style="visibility: hidden">Menu : </span></h3>

        <div class="list-group" ng-init="navPage = 'page'">
            <a class="list-group-item" ng-class="{'active' : navPage == 'page'}" ng-click="navPage = 'page'">La page</a>
            <a class="list-group-item" ng-class="{'active' : navPage == 'inscrit'}" ng-show="data.Even.suscribe" ng-click="navPage = 'inscrit'">Les inscrits <span class="badge">{{nbrIncrits}}</span></a>
            <a class="list-group-item" ng-class="{'active' : navPage == 'ref'}" ng-click="navPage = 'ref'">Le référencement</a>
            <a class="list-group-item" ng-href="{{data.Even.url}}" ng-show="data.Even.url" target="_blank">Voir la page</a>
        </div>

    </div>

    <div class="col-md-7">

        <div ng-controller="ModuleCtrl" ng-show="navPage == 'page'">

            <h3 class="page-header mt0">La page</h3>

            <fieldset>

                <whform ng-model="data.Even.h1" placeholder="Titre de votre évènement" tag-class="input-lg"
                        tooltip="Soyez explicite sur le titre de la page" required></whform>

            </fieldset>

            <fieldset>

                <label>Ajouter un bloc de contenu</label>

                <div class="btn-group btn-group-justified" role="group"
                     ng-include="'app_admin/views/elements/cms/bloc-menu.html'"></div>

            </fieldset>

            <div ui-sortable="moduleSortableOptions" ng-model="data.Contents">
                <div ng-repeat="C in data.Contents track by $index" id="portlet-{{$index}}" portlet="portlet"
                     class="bloc-{{C.ContentModule.params.module}}">

                    <ng-include src="Modules[C.ContentModule.module].params.bloc_url"></ng-include>
                </div>
            </div>

        </div>

        <ng-include src="'app_admin/views/agenda/inc-inscrits.html'" ng-controller="EvenInscritCtrl" ng-show="navPage == 'inscrit'"></ng-include>
        <ng-include src="'app_admin/views/agenda/inc-ref.html'" ng-show="navPage == 'ref'"></ng-include>


    </div>


    <div class="col-md-3">

        <h3 class="page-header mt0">Paramètres</h3>

        <div id="panelPublication" class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-save"></i> Publication
            </div>
            <div class="panel-body">

                <whform label="Rubrique parente : " ng-model="data.Even.page_id" options="Rubriques" obj="true"></whform>

                <div class="form-group">
                    <label>Rubriques complémentaires : </label>
                    <ui-select multiple ng-model="data.Page.ids" theme="bootstrap" ng-disabled="disabled">
                        <ui-select-match placeholder="Choisir les rubriques">{{$item.label}} </ui-select-match>
                        <ui-select-choices repeat="Rubrique.id as Rubrique in Rubriques  | filter: {label: $select.search}">
                            <span ng-bind-html="Rubrique.label | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <whform label="Titre court : " ng-model="data.Even.name" placeholder="Nom court"
                        tooltip="Si le titre est trop long dans les menus, indiquez ici un titre plus court"></whform>
                <whform tag="textarea" ng-model="data.Even.resume" label="Texte résumé : " placeholder="Resumé"
                        tooltip="Le résumé sert dans les listes et pour le référencement"></whform>

                <hr/>
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.Agenda.acces_membre" value="1" ng-checked="data.Agenda.acces_membre == 1">
                        <span class="fa fa-times"></span> Evenement membre
                    </label>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-md-6">
                        <whform label="Date de l’évènement" ng-model="data.Even.date_even_deb_fr" inputmask="99/99/9999"
                                error="error.Even.date_even_deb"></whform>
                    </div>
                    <div class="col-md-6">
                        <whform label="Heure" ng-model="data.Even.heure_even_deb_fr" inputmask="99:99"
                                ng-show="!data.Even.all_day"></whform>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <whform label="Date de fin" ng-model="data.Even.date_even_fin_fr"
                                inputmask="99/99/9999"></whform>
                    </div>
                    <div class="col-md-6">
                        <whform label="Heure de fin" ng-model="data.Even.heure_even_fin_fr" inputmask="99:99"
                                ng-show="!data.Even.all_day"></whform>
                    </div>
                </div>

                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" ng-model="data.Even.all_day" value="1" ng-checked="data.Even.all_day == 1">
                        <span class="fa fa-times"></span> Journée entière
                    </label>
                </div>

                <hr/>

                <whform label="Adresse : " ng-model="data.Even.adresse" tag="textarea"></whform>

                <hr/>

                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" ng-model="data.Even.suscribe" value="1"
                                       ng-checked="data.Even.suscribe">
                                <span class="fa fa-times"></span> Ouvrir à inscription
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <whform label="Nombre maximum" ng-model="data.Even.suscribe_nbr" ng-show="data.Even.suscribe"></whform>
                    </div>
                </div>


                <hr/>

                <p class="text-muted">
                    <small>Choisir une couleur</small>
                </p>
                <ul class="list-inline external-event-color-selector">
                    <li class="p0" ng-repeat="color in colors">
                        <a href="#" class="circle {{color.class}} circle-xl"
                           ng-class="{'selected' : data.Even.color == color.color}"
                           ng-click="data.Even.color = color.color"></a>
                    </li>
                </ul>

                <hr/>

                <div class="radio">
                    <label>
                        <input type="radio" ng-model="data.Even.etat_id" value="publish"/> Publier
                        immédiatemment
                    </label>
                </div>
                <div class="radio">
                    <label class="text-danger">
                        <input type="radio" ng-model="data.Even.etat_id" value="draft"/>
                        Enregistrer en brouillon
                    </label>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <whform label="Date de publication" ng-model="data.Even.publication_date_fr"
                                inputmask="99/99/9999"></whform>
                    </div>
                    <div class="col-md-6"></div>
                </div>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i
                                class=""></i>
                            Enregistrer
                        </button>
                    </div>
                </div>
            </div>

            <div collapse="panelPublication" class="panel-wrapper"></div>

        </div>

        <div id="panelVignette" class="panel panel-info" ng-controller="FileManagerController"
             tooltip="Il s’agit de l’image minigature utilisée dans les listes d’article.">
            <div class="panel-heading">
                <i class="fa fa-picture-o"></i> Vignette
            </div>
            <div collapse="panelVignette" class="panel-wrapper">
                <div class="panel-body">
                    <img ng-src="{{data.Even.vignette.File.url}}" alt="" ng-show="data.Even.vignette"
                         style="width:100%;max-width:100%;"/>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <a class="btn btn-sm btn-danger" ng-click="deleteFileManager('data.Even.vignette')"
                               ng-show="data.Even.vignette"><i class="fa fa-trash-o"></i> Supprimer</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-sm btn-success" ng-click="openFileManager('data.Even.vignette', 1)"><i
                                    class="fa fa-plus-square"></i></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>

</form>

