<?php $this->element('balises_metas', array('metas' => $page['Page'])); ;?>
<?=$this->element('caroussel');?>

<div class="container">
      <div class="display-table-stat">
                <div>
                    <div class="col-md-12 padding-top48">
                        <div class="postslider">
<h1><?=$page['Page']['sous_titre'];?></h1>
                            <div class="line-height26"><?=$page['Page']['body'];?></div>
                        </div>
                    </div>
                 
                </div>
            </div>


</div>
<div class="container2">

<p class="video-container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/EE013JK2AxQ?rel=0" frameborder="0" allowfullscreen></iframe>
</p>
</div>
 <!-- Statement Section -->
        <section id="statement" class="bg-img19 dark-bg ptb-sm-80">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                                                <div class="spacer-15"></div>

                        <p class="obs">Pourquoi souscrire un contrat obsèques ?</p>
                        <div class="spacer-15"></div>
                        <a class="cbox-iframe btn btn-md btn-white" href="/pages/view/7">Pour en savoir plus sur nos contrats obsèques, cliquez ici.</a>
						                        <div class="spacer-15"></div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Statement Section -->

<?=$this->element('galerie-realisations-accueil');?>



<?php 
//$portfolioItems
//$ContentModules
//$metiers
//$actus
?>

