/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/*  CAPTION TEXT PROPERTIES  */
#featured article .container {width: 960px !important; margin: auto !important; position: relative !important;}
#featured article .post-title h2 {margin-top: -2px !important;}
#featured article .post-title h2:first-child {margin-top: 0 !important;}
#featured article .post-title h2 span {font-family: 'SansationBold'; font-size: 32px; line-height: 36px !important; color: #fff; display:inline-block; background: rgba(1, 112, 186, 0.5) !important; padding: 5px 24px;}
#featured article .post-title h2.right-text {float: right; text-align: right;}
#featured article .post-title h2.right-text span {padding: 5px 24px; box-shadow: none; margin: -12px 0 0 0;}
#featured article .post-title h2.left-text span {padding: 5px 24px; box-shadow: none; margin: -12px 0 0 0;}
.mockup-league img {display: block; margin-top: -224px;}
#featured article .post-title div {display: inline-block;}
#featured article .post-title div h2.centered-text {float: none; display:block; }
#featured article .post-title div h2.centered-text span {box-shadow: none; padding: 5px 24px;}
#featured article .post-title img.centered-image {display: block; position: absolute; top: 10%; left: 52%;}
.buy_button a.centered-button {padding: 10px 20px; font-size: 16px; line-height: 16px; width: auto !important;}
.centered-text-but {display: inline-block !important; float: none !important;}
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
#featured { 
	width: 100%!important;
	margin-top: -78px;
	height: 650px!important;
	background: #000 url('../img/icons/loader.gif') no-repeat center center;
	overflow: hidden; }
#featured>img,  
#featured>div,
#featured>a { display: none; }


html:not(.js) #featured {
	display: none;
}

/* CONTAINER
   ================================================== */


div.orbit-wrapper {
    width: 100%!important;
    height: 1px;
    top: 0px;
    z-index: 1;
    position: relative;
	overflow: hidden;}

div.orbit {
    width: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit > a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;}
    


/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */



/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    display: none;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../img/orbit/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(../img/orbit/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/orbit/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(../img/orbit/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
	text-align: center;
	padding: 7px 0;
    font-size: 13px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    position: fixed;
    z-index: 1000;
    text-indent: -9999px;
    cursor: pointer; 
 }



/***************** Orbit ******************/
#featured article {
	position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px; 
    width: 100%;
    z-index: 1;
    background-color: #000;
	overflow: hidden;
} 

#featured article[data-background-cover="1"] {
	background-size: cover;
}

.provided-by {
	position: absolute;
	bottom: 8px;
	right: 8px;
	color: rgba(255,255,255,0.75);
	display: block;
	font-size: 11px;
	background-color: rgba(0,0,0,.65);
	padding: 5px 9px;
	z-index: auto;
}

div.slider-nav span {
	display: block;
    width: 50px;
    height: 50px;
    top: 380px;
    margin-top: -35px;
    cursor: pointer; 
    background-repeat: no-repeat;
}

div.slider-nav > span {
	 margin-top: 0px;
	 -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

div.slider-nav span.right, div.slider-nav span.left,  div.slider-nav span.right span,  div.slider-nav span.left span {
	-webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 1px 1px 1px 1px;
    -moz-border-radius: 1px 1px 1px 1px;
    -webkit-border-radius: 1px 1px 1px 1px;
    -o-border-radius: 1px 1px 1px 1px;
}

.orbit-wrapper div.slider-nav span.right {
    background:#7e7d7c url(../img/icons/arrows.png);
    right: 0px; 
    background-position: right top;
}

body[data-smooth-scrolling="1"] .orbit-wrapper div.slider-nav span.right {
	background: #7e7d7c url(../img/icons/arrows.png) no-repeat top center;
}

.orbit-wrapper div.slider-nav span.left {
	background: #7e7d7c url(../img/icons/arrows.png) no-repeat bottom center;
    left: 0px; 
}

.orbit-wrapper div.slider-nav span.right:hover, .orbit-wrapper div.slider-nav span.left:hover {background-color: #fc7742 !important;}

div.slider-nav span.right span.white {
	opacity: 0;
	top: 35px;
    right: 0px; 
    position: absolute;
    background: url(img/icons/arrows.png);
    background-position: right bottom;
}

div.slider-nav span.left span.white {
	opacity: 0;
	top: 35px;
    right: 0px; 
    position: absolute;
    background: url(img/icons/slider-arrows.png);
    background-position: left bottom;
}

div.slider-nav span.right:hover span.white, div.slider-nav span.left:hover span.white {
	opacity: 1;
}

div.slider-nav span span.shadow {
	display: block;
	top: 91px;
    right: 0px;
    height: 7px;
    position: absolute;
    width: 56px;
    background: url(img/icons/slider-arrows-shadows.png);
}

div.slider-nav span.left span.shadow { background-position: left bottom; }

div.slider-nav span.right span.shadow { background-position: right bottom; }

#featured .orbit-slide article .container {
	position: absolute;
	width: 100%;
	max-width: none!important;
	top: 295px;
	margin: 0 auto;
}

#featured .orbit-slide article .container .span_12 {
	margin: 0 auto!important;
	width: 100%;	
	float: none;
}

#featured article .post-title h2 {
	max-width: 460px;
	min-width: 460px;
	opacity: 1;
	padding: 0px 10px;
	left: -10px;
	position: relative;
	margin-top: 20px;
	font-family: 'OpenSansLight';
}

#featured article .post-title h2 span {
	padding: 4px 0px;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
	box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	-o-box-shadow: 10px 0 0 rgba(0, 0, 0, 0.5), -10px 0 0 rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 32px;
	line-height: 54px!important;
	margin-bottom: 1px;
	background-position: right -53px;
    margin-bottom: 15px;
    display: none;
    margin-top: 20px;
}

#featured article .post-title > a {
	opacity: 0;
	color: #fff;
	left: -10px;
	top: 10px;
	position: relative;
	display: inline-block;
	padding: 14px 18px;
	border: 2px solid rgba(255,255,255,0.3);
	-webkit-transition: border-color 0.3s linear, background-color 0.3s linear;
    -moz-transition: border-color 0.3s linear, background-color 0.3s linear;
    -o-transition: border-color 0.3s linear, background-color 0.3s linear;
    transition: border-color 0.3s linear, background-color 0.3s linear;
}

#featured article .post-title a:hover {
	border-color: #27CFC3;
}


/* alignment */

#featured .orbit-slide.centered article .container .span_12 {
    margin: 0 auto !important;
    text-align: center;
    width: 100%; 
}

#featured .orbit-slide.centered article .post-title h2 {
    margin: 0 auto 7px auto;
    left: -10px;
    max-width: 560px;
    min-width: 560px;
}




#featured .orbit-slide.right article .container .span_12 {
    margin: 0 auto !important;
    text-align: right;
    width: 100%;
}

#featured .orbit-slide.right article .post-title h2 {
    margin: 0 auto;
    right: 10px;
    float: right;
    left: auto;
}

#featured .orbit-slide.right article .post-title > a {
	right: -10px;
	float: right;
	clear: both;
}


#featured .orbit-slide.has-video h2 {
	float: right;
    max-width: 500px;
    min-width: 400px;
}

#featured .orbit-slide.has-video .post-title > a {
	left: 12px;
}

#featured .video {
	float: left;
	width: 678px!important;
	left: -8px;
	position: relative;
	z-index: 1;
	opacity: 1;
}

#featured .more-info {
	display: none;
}

#featured .video video {
	display: none;
}

#featured .jp-video-container {
	margin-bottom: 0px!important;
}

#featured .fluid-placeholder {
	display: none!important;
}

.home-wrap {
	padding-top: 3em;
	margin-bottom: -40px;
	padding-bottom: 40px;
	position: relative;
	z-index: 100;
	background-color: #F5F5F5;
}

html:not(.js) .home-wrap {
	padding-top: 0px;
}


@media screen and (max-width:980px) {
	#featured article .container {width : 748px !important;}
	.mockup-league img {margin: -124px; transform: scale(0.8,0.8); margin-right: 12px;}
	img.centered-image {transform: scale(0.8,0.8); top: 42% !important; left: 33% !important;}
}

@media screen and (max-width:768px) {
	#featured article .container {width : 420px !important;}
	img.centered-image {transform: scale(0.7,0.7); top: 30% !important; left: 15% !important;}
	.mockup-league img {margin: -60px; transform: scale(0.7,0.7);}
}

@media screen and (max-width:440px){
	#featured article .container {width: 280px !important;}
	#featured article .container .post-title h2 span {width: 100px; white-space: normal;}
	img.centered-image {transform: scale(0.5,0.5); top: 53% !important; left: -10% !important;}
	.mockup-league img {margin: -100px; transform: scale(0.5,0.5);}
}

