<form ng-submit="submit()" autocomplete="off" ng-controller="UsersEditCtrl" name="Form" class="wh-cms">

    <div ng-bind-html="log"></div>

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/users/view/">Retourner au staff</a></li>
    </ol>

    <div class="row">

        <div class="col-md-8" ng-controller="ModuleCtrl">

            <div class="panel panel-info">
                <div class="panel-heading">Identité</div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <whform label="Nom : " ng-model="data.User.nom" error="error.User.nom[0]" tabindex="0"></whform>
                            <whform label="Email : " ng-model="data.User.email" error="error.User.email[0]" tabindex="1"></whform>


                        </div>

                        <div class="col-md-6">

                            <whform label="Prénom : " ng-model="data.User.prenom" error="error.User.prenom[0]" tabindex="2"></whform>
                            <whform label="Téléphone : " ng-model="data.User.telephone" error="error.User.telephone[0]" tabindex="3"></whform>

                        </div>

                    </div>

                </div>

            </div>

            <div class="panel panel-info"> <!--ng-show="data.User.id == user.id"-->
                <div class="panel-heading">Mon accès</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6"><whform label="Nouveau mot de passe : " ng-model="data.User.motdepasse" type="password" error="error.User.motdepasse[0]"></whform></div>
                        <div class="col-md-6"><whform label="Confirmez le mot de passe saisi : " ng-model="data.User.confirm_password" type="password" error="error.User.confirm_password[0]"></whform></div>

                    </div>

                </div>

            </div>

        </div>


        <div class="col-md-4">

            <div class="panel panel-info">
                <div class="panel-heading"><i class="fa fa-save"></i> Rôle et accès</div>
                <div class="panel-body">

                    <whform label="Groupe : " ng-model="data.User.group_id" error="error.User.group_id" options="Groups" ></whform>

                </div>
                <div class="panel-footer text-right">

                    <button type="submit" ng-disabled="Form.$invalid" class="btn btn-sm btn-success"><i class=""></i>Enregistrer</button>

                </div>

            </div>

        </div>

    </div>

</form>