<div class="panel panel-info">
    
    <div class="panel-heading sortable-handler">

        <div class="pull-right">
            <ng-include src="'app_admin/views/elements/cms/btns-admin.html'"></ng-include>
        </div>

        <i class="fa fa fa-video-camera"></i> {{C.ContentModule.params.name}}

    </div>
    <div class="panel-body {{data.Contents[$index].ContentModule.params.prop}}">

        <div class="row">
            <div class="col-md-12">
                <whform ng-model="C.ContentModule.content.template" placeholder="Template (facultatif)"></whform>
            </div>
        </div>

        <tabset justified="true">
            <tab>
                <tab-heading>Depuis youtube</tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        <youtube-video video-url="data.Contents[$index].ContentModule.content.url"></youtube-video>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <div class="form-group">
                                <label>Copiez / collez l’url youtube : </label>
                                <input ng-model="data.Contents[$index].ContentModule.content.url" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
            <tab>
                <tab-heading>Code embed</tab-heading>
                <div class="row">
                    <div class="col-md-6">
                        {{data.Content[$index].ContentModule.embed}}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Copiez / collez votre code embed ici : </label>
                            <textarea ng-model="data.Contents[$index].ContentModule.content.embed" class="form-control" style="min-height:300px;"></textarea>
                            <span class="help-block m-b-none">Rendez vous sur votre plate-forme video préférée (youtube, vimeo, daylimotion)</span>
                        </div>
                    </div>
                </div>
            </tab>

            <tab class="active">
                <tab-heading>Bibliothèque</tab-heading>

                <div ng-controller="FileManagerController">

                    <div class="row">
                        <div class="col-md-12" style="text-align:center;">
                            <a class="btn btn-success btn-xs" ng-click="openFileManager('data.Contents[$index].ContentModule.content.video', 1)" style="display: block">Cliquez pour ouvrir la bibliothèque</a>

                            <video controls="controls" src="{{data.Contents[$index].ContentModule.content.video.File.url}}" ng-show="data.Contents[$index].ContentModule.content.video.File.url">
                                Ici l'alternative à la vidéo : un lien de téléchargement, un message, etc.
                            </video>


                            <a type="button" class="btn btn-danger btn-xs" ng-click="data.Contents[$index].ContentModule.content.video = false" ng-show="data.Contents[$index].ContentModule.content.video" style="display: block"><i class="fa fa-trash-o"></i> Supprimer</a>
                        </div>
                    </div>

                </div>

            </tab>

        </tabset>
    </div>

</div>