.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../js/loading/ajax-loader.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0.6;
}