<div class="modal-header">
    <button type="button" data-dismiss="modal" aria-hidden="true" class="close" ng-click="cancel()">×</button>
    <h4 id="myModalLabel" class="modal-title">File Manager</h4>
</div>
<div style="min-height:600px;" class="modal-body" ng-controller="FileLibraryController">

    <div class="row">

        <div class="col-md-3" ng-class="{'traditional csspinner' : loadingNewFolder}">

            <form ng-submit="create_folder()">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nouveau dossier" ng-model="newFolder.FileFolder.name" required="">
                         <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-plus-square" ng-show="!newFolder.FileFolder.edit"></i>
                                <i class="fa fa-edit" ng-show="newFolder.FileFolder.edit"></i>
                            </button>
                         </span>
                </div>
            </form>
        </div>

        <div class="col-md-9">

            <div class="pull-right" ng-show="Folder.FileFolder.id">

                <a class="btn btn-xs btn-primary" ng-click="editFolder(Folder);"><i class="fa fa-edit"></i></a>
                <a class="btn btn-xs btn-danger" ng-click="deleteFolder(Folder);"><i class="fa fa-trash-o"></i></a>

            </div>

            <span>\ <a ng-click="loadLibrary(0)">Racine</a></span>
            <span ng-repeat="Fld in Chemin">\ <a ng-click="loadLibrary(Fld.FileFolder.id)">{{Fld.FileFolder.name}}</a></span>

        </div>

    </div>

    <hr/>

    <div class="row">

        <div class="col-md-3 tree" ng-class="{'traditional csspinner' : loadingFolder}">

            <script type="text/ng-template" id="nodes_renderer.html">
                <div nodrag ng-class="{'active' : node.FileFolder.id == Folder.FileFolder.id}">

                    <a nodrag ng-click="toggle(this)" class="btn btn-xs btn-default">
                        <i class="fa" ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}"></i>
                    </a>

                    <a nodrag class="item" ng-click="loadLibrary(node.FileFolder.id)">{{node.FileFolder.name}}</a>

                </div>

                <ol ui-tree-nodes="" ng-model="node.children" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                </ol>

            </script>
            <div ui-tree id="tree-root">
                <ol ui-tree-nodes="" ng-model="folders">
                    <li ng-repeat="node in folders" ui-tree-node ng-include="'nodes_renderer.html'" ng-show="visible(node)"></li>
                </ol>
            </div>
        </div>

        <div class="col-md-9" ng-class="{'traditional csspinner' : loadingFiles}">

            <div ng-bind-html="log"></div>

            <div ng-hide="formEditFile">

                <form method="get" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-12">
                            <div id="upload-drop" class="box-placeholder text-center" style="padding: 80px 20px;">
                                <p>
                                    <em class="fa fa-cloud-upload fa-2x"></em>
                                </p>Envoyez vos fichiers en les déposant ici ou
                                <div class="btn-link form-file">cliquez ici
                                    <input id="upload-select" type="file" name="upfile"/>
                                </div>
                            </div>
                            <div id="progressbar" class="progress hidden " value="dynamic" type="success">
                                <div role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     class="progress-bar progress-bar-success progress-bar-striped"></div>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="fileUploadList">
                            <ul class="list-group">
                                <li ng-repeat="f in fileUploadList" class="list-group-item hover-visible">

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <i class="fa fa-file-{{f.Extention.icone}}-o fa-5x" ng-show="f.File.type == 'file'"></i>
                                            <img ng-src="{{WH_ROOT}}{{f.File.url}}" ng-show="f.File.type == 'image'" style="max-width:100%;"/>
                                        </div>
                                        <div class="col-sm-8">
                                            <p><strong>{{f.File.name}}</strong></p>

                                            <p ng-show="f.File.type == 'image'">Taille : {{f.File.dimenssions.width}}px
                                                x {{f.File.dimenssions.height}}px ({{f.File.dimenssions.reco}})</p>

                                            <p>Poids : {{f.File.poids}}Ko</p>
                                        </div>
                                        <div class="col-sm-2 text-right">
                                            <a class="btn btn-primary btn-sm" ng-click="edit(f.id)"><i class="fa fa-edit"></i> Editer</a>

                                        </div>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </form>

                <div class="table-responsive">

                    <table id="libraryMedia" class="table table-striped table-hover ">
                        <thead>
                        <tr>
                            <th style="width:80px;max-width:80px;">Type</th>
                            <th class="sort-alpha">Nom du fichier</th>
                            <th>Ext</th>
                            <th style="width:130px"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="f in Files">
                            <td>
                                <i class="fa fa-file-{{f.Extention.icone}}-o fa-3x" ng-show="f.File.type == 'file'"></i>
                                <img ng-src="{{WH_ROOT}}{{f.File.url}}" ng-if="f.File.type == 'image'" style="width:100%;max-width:100%;"/>
                            </td>
                            <td>{{f.File.name}}</td>
                            <td>{{f.File.extention_id}}</td>
                            <td class="text-right">
                                <div class="checkbox c-checkbox" ng-show="nbr > 1" style="display: inline-block;">
                                    <label>
                                        <!--<input type="checkbox" ng-model="f.selected" value="{{f.File.id}}"  />!-->
                                        <input type="checkbox" checklist-model="selectedFiles" checklist-value="f">
                                        <span class="fa fa-check"></span>
                                    </label>
                                </div>
                                <a class="btn btn-sm btn-success btn-xs" ng-click="sel(f)" ng-show="nbr == 1">choisir</a>
                                <a class="btn btn-sm btn-primary btn-xs" ng-click="editFile(f)"><i class="fa fa-edit"></i></a>
                                <a class="btn btn-sm btn-danger btn-xs" ng-click="deleteFile($index)"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <form ng-submit="enrFile()" ng-show="formEditFile">

                <img ng-src="{{dataFile.File.url}}" alt="" ng-show="dataFile.File.type == 'image'" style="width: 100%;" class="mb1" />


                <div class="panel panel-info">

                    <div class="panel-heading">Edition d'un fichier</div>

                    <div class="panel-body">

                        <whform ng-model="dataFile.File.name" label="Nom du fichier : "></whform>

                        <whform ng-model="dataFile.File.description" label="Description : " tag="textarea"></whform>

                        <whform ng-model="dataFile.File.file_folder_id" label="Dossier : " options="FoldersList" ></whform>

                    </div>

                    <div class="panel-footer text-right">
                        <button type="submit" class="btn btn-primary btn-xs">Modifier</button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="formEditFile = false">Annuler</button>
                    </div>

                </div>

            </form>

        </div>

    </div>

</div>
<div class="modal-footer">
    <button ng-click="ok()" class="btn btn-primary">OK</button>
    <button ng-click="cancel()" class="btn btn-warning">Annuler</button>
</div>