<div ng-controller="ProductsIndexCtrl">

    <ol class="breadcrumb mt0 mb">
        <li><a href="#/app/products/index/">Liste des produits</a></li>
    </ol>

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a href="#/app/products/edit/" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer un produit</a>
        </div>
        <span>&nbsp;</span>
    </h3>


    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-info">

                <div class="panel-heading"><span>Liste des produits<span></div>

                <div class="table-responsive" >

                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">

                        <thead>
                            <tr>
                                <th style="width:150px;" >Action</th>
                                <th style="width:50px;" ></th>
                                <th style="width:50px;" >Etat</th>
                                <th>Nom</th>
                            </tr>
                            <tr>
                                <th style="width:150px;" ></th>
                                <th style="width:50px;" ></th>
                                <th style="width:50px;" ></th>
                                <th><input ng-model="searchProduit.Product.name"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="product in products | filter : searchProduit.Product.name">
                                <td>
                                    <a class="btn btn-primary btn-xs" href="#/app/products/edit/{{product.Product.id}}"><i class="fa fa-edit"></i> Modifier</a>
                                    <a class="btn btn-warning btn-xs" ng-click="duplique($index)"><i class="fa fa-files-o"></i></a>
                                    <a class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td>{{product.Product.id}}</td>
                                <td><div class="label label-{{product.Etat.class}}">{{product.Etat.name}}</div></td>
                                <td>{{product.Product.name}}</td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </div>

        </div>


    </div>
</div>