<h3>
    Actualités
    <small>Publiez des news et actualités sur votre site web</small>
</h3>

<ol class="breadcrumb" ng-show="false">
    <li><a href="#/">Accueil</a></li>
    <li><a href="#/app/actualites">Actualités</a></li>
</ol>

<div class="table-grid">
    <div ui-view="" class="col"></div>
</div>
