body {
  padding-top: 80px;
}

h1 {

  font-weight:300;
  font-size:30px;
  line-height: 28px;

  span {
    font-size: 20px;
    display: block;
  }
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

#zone_metier {

  .col-md-4 {
    width:32%;
    float:none;
    display:inline-block;
    vertical-align:top;

    a {
      p {color:#000;}

      &:hover {
        h5 {
          text-decoration:underline;
        }
      }

    }

  }

}


