<div ng-controller="CoursIndexCtrl">

    <h3 class="page-header mt0">
        <div class="pull-right">
                <a href="#" class="btn btn-success btn-xs"><i class="fa fa-plus-square"></i> Créer un nouveau cours</a>
                <a href="#" class="btn btn-primary btn-xs" ng-show="Page.Page.id"><i class="fa fa-edit"></i> Gérer les matières</a>

        </div>

    </h3>


    <div class="alert alert-info">
        <ul>
        <li>Méthode de gestion des cours :</li>
        <li>Un cours est un article définit dans une matière (espagnol, français, etc) et un niveau</li>
        <li>Utiliser un niveau comme une des rubriques du site permettrait d'associer et afficher facilement des cours dans les pages du site, de plus le système de rubriques intègre déjà une arborscence</li>
        <li>Les matières sont des entités indépendantes simples</li>
        <li>En créant un cours, on lui définit un niveau, une matière, un lieu, une date, une durée, un accès (public ou membre)</li>
        <li>Le reste reste semblable à l'edition d'un article</li>
        </ul>
    </div>

    <ol class="breadcrumb mt0 mb">
        <li>> <a href="#/app/pages/index/">Racine</a></li>
        <li ng-repeat="Chemin in Page.Chemin track by Chemin.Page.id"><a href="#/app/pages/index/{{Chemin.Page.id}}">{{Chemin.Page.name}}</a></li>
    </ol>

    <div ng-bind-html="log"></div>

    <div class="row">

        <div class="col-md-3">

            <div class="panel panel-info">

                <div class="panel-heading">Niveaux</div>

            </div>

        </div>

        <div class="col-md-9">

            <div class="panel panel-info">

                <div class="panel-heading">
                    <span ng-show="!Page.Page.id">Liste des cours</span>
                    <span ng-show="Page.Page.id">Liste cours de niveau : </span>

                </div>

                <div class="table-responsive" ng-show="Page.Childrens">
                    <table id="table-ext-3" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Action</th>
                            <th>Accès</th>
                            <th>Nom du cours</th>
                            <th>Matière</th>
                            <th>Niveau</th>
                            <th>Situation</th>
                            <th>Date de publication</th>
                            <th class="text-right">Etat</th>
                        </tr>
                        </thead>
                        <tbody ui-sortable="sortableOptions" ng-model="Page.Childrens">

                        </tbody>
                    </table>
                </div>



            </div>

        </div>

    </div>
</div>